[{:itonami.blueprint/social-impact [:electrical-safety :system-quality :site-documentation]
  :itonami.blueprint/domain :engineering/electrical
  :itonami.blueprint/required-technologies [:robotics :identity :survey-forms :dmn :audit-ledger]
  :itonami.blueprint/isco-08 "3113"
  :itonami.blueprint/name "Electrical Engineering Technicians"
  :itonami.blueprint/governor :eleng-governor
  :itonami.blueprint/robotics true
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-3113"
  :itonami.blueprint/license "AGPL-3.0-or-later"}]
